body{
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
}

footer{
    background-color: azure;
    border: 1px solid black;
}

.menu div{
 border: 1px solid black;
 padding: 5px;
 font: bold 14px verdana;
 display: inline-block;
}